.bg-img {
  background-image: url();
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1000;
  opacity: 0.5;
}

/*Colores*/
/*Ni idea*/
/*BUTTONS*/
/*BUTTON HOME*/
.btn-1 {
  padding: 10px 25px;
  font-size: 16px;
  margin-top: 30px;
  font-weight: 500;
  color: #123036;
  background-color: transparent;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
  display: inline-block;
}

.btn-2 {
  margin-top: 10px;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  color: #123036;
  background-color: transparent;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
  display: inline-block;
}

.btn-1 {
  transition: all 0.3s ease;
}

.btn-2 {
  transition: all 0.3s ease;
}
.btn-2:hover {
  color: #F2A341;
}

/*Typographies*/
/*SHADOWS*/
/*ELEMENTS WHIT SHADOW*/
.inner-shadow {
  box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

.outer-shadow {
  box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8f8;
}

.hover-in-shadow:hover {
  box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

/*EFFECT*/
.home-section {
  position: relative;
}
.home-section .effect-wrap .effect {
  position: absolute;
  z-index: -1;
}
.home-section .effect-1 {
  width: 30px;
  height: 30px;
  border: 4px solid #8a49ff;
  right: 10%;
  bottom: 10%;
  animation: spin 10s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.home-section .effect-2 {
  left: 3%;
  bottom: 20%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: movArriba 3s ease-in-out infinite;
}
@keyframes movArriba {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}
.home-section .effect-2 .part__effect {
  height: 3px;
  width: 3px;
  background-color: #ff9c07;
  margin: 0 3px 8px;
  border-radius: 50%;
}
.home-section .effect-3 {
  height: 180px;
  width: 180px;
  border: 25px solid #ff9c07;
  border-radius: 50%;
  left: 50%;
  top: -120px;
  animation: movLateral 3s ease-in-out infinite;
}
@keyframes movLateral {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
}
.home-section .effect-4 {
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  left: 30%;
  top: 20%;
  animation: spin 15s linear infinite;
}
.home-section .effect-4::before {
  content: "";
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}
.home-section .effect-5 {
  width: 50px;
  height: 50px;
  right: 10%;
  top: 30%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
}
.home-section .effect-5 .part__effect-2 {
  width: 1px;
  background-color: #4dd0e1;
}

.section-title {
  padding: 0 15px;
  flex: 2;
  max-width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
.section-title h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}
.section-title h2::before {
  content: attr(data-heading);
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #F2A341;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-family: "Nunito", sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: #eff0f4;
}

.stop-scrolling {
  overflow-y: hidden;
}

/*BODY ELEMENTS*/
a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/*HEADER*/
.header {
  padding: 20px 15px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header .cont__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header .cont__header .cont__logo {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 2px solid #123036;
  border-radius: 50%;
}
.header .cont__header .cont__logo .cont__link {
  display: inline-block;
  line-height: 36px;
  font-size: 20px;
  color: #123036;
  font-weight: bold;
}
.header .cont__header .hamburguer__btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}
.header .cont__header .hamburguer__btn::after {
  border-radius: 50%;
}
.header .cont__header .hover-in-shadow {
  position: relative;
  z-index: 1;
}
.header .cont__header .hover-in-shadow:hover {
  box-shadow: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
}
.header .cont__header .hover-in-shadow::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.header .cont__header .hover-in-shadow:hover::after {
  box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

/*NAVIGATOR MANU*/
.container__nav {
  position: fixed;
  background-color: #eff0f4;
  padding: 0 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.container__nav .close-nav-menu {
  width: 40px;
  height: 40px;
  display: block;
  font-size: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  color: #666666;
}
.container__nav .nav-menu-inner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__nav .nav-menu-inner ul {
  padding: 15px;
}
.container__nav .nav-menu-inner ul li {
  display: block;
  margin-bottom: 20px;
}
.container__nav .nav-menu-inner ul li:last-child {
  margin-bottom: 0;
}
.container__nav .nav-menu-inner ul a {
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  color: #555555;
  padding: 3px 30px;
  text-transform: capitalize;
  border-radius: 30px;
}
.container__nav .nav-menu-inner ul .active {
  color: #F2A341;
}
.container__nav .copyright-txt {
  position: absolute;
  top: 50%;
  font-size: 14px;
  color: #666666;
  transform: translateY(-50%) rotate(-90deg);
  left: 0;
}

/*MAIN HOME*/
.align-item-center {
  align-items: center;
}

.home-section .full-screen {
  display: flex;
  padding: 50px 0;
  min-height: 100vh;
}
.home-section .full-screen .home-text,
.home-section .full-screen .home-img {
  flex: 2;
  max-width: 50%;
  padding: 0 15px;
}
.home-section .full-screen .home-text p {
  color: #555555;
  font-size: 18px;
  text-transform: capitalize;
}
.home-section .full-screen .home-text h2 {
  font-size: 55px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}
.home-section .full-screen .home-text h1 {
  font-size: 20px;
  font-weight: 500;
  color: #555555;
  margin: 0;
}
.home-section .full-screen .img-box {
  max-width: 450px;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}
.home-section .full-screen img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}

/*ABOUTME*/
.about-section {
  padding: 60px 0 80px;
  min-height: 100vh;
}
.about-section .cont__about {
  display: flex;
}
.about-section .cont__about .about-img {
  flex: 0 0 40%;
  max-width: 40%;
  padding: 0 15px;
}
.about-section .cont__about .about-img .img-box {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
}
.about-section .cont__about .about-img .img-box img {
  width: 100%;
  border: 10px solid transparent;
  border-radius: 5px;
}
.about-section .cont__about .about-img .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-section .cont__about .about-img .social-links a:last-child {
  margin-left: 20px;
}
.about-section .cont__about .about-info {
  padding-left: 30px;
  flex: 0 0 60%;
  max-width: 60%;
}
.about-section .cont__about .about-info span {
  font-weight: 600;
}
.about-section .cont__about .about-info p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  color: #666666;
}
.about-section .cont__about .about-info a {
  margin-top: 30px;
}
.about-section .cont__about .about-info a:last-child {
  margin-left: 20px;
}
.about-section .about-tabs {
  padding: 60px 15px 50px;
  max-width: 100%;
  text-align: center;
}
.about-section .about-tabs h3 {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  border-bottom: 2px solid #F2A341;
}

/*SECTION SKILLS*/
.section-skills {
  padding: 60px 0 80px;
  min-height: 100vh;
}
.section-skills .about-tabs {
  padding: 0 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-skills .about-tabs h3 {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  border-bottom: 2px solid #F2A341;
  text-transform: uppercase;
}
.section-skills .about-tabs h3::before {
  content: attr(data-heading);
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #F2A341;
  text-align: center;
}
.section-skills .tab-content {
  flex: 0 0 100%;
  max-width: 100%;
  padding-top: 80px;
  /*COLORS ICONS SKILL*/
}
.section-skills .tab-content .skill-item {
  flex: 0 0 50%;
  max-width: 45%;
  padding: 30px 20px;
  margin: auto;
}
.section-skills .tab-content .skill-item .ico-logo {
  font-size: 25px;
  padding: 5px;
}
.section-skills .tab-content .skill-item p {
  padding-bottom: 10px;
  font-size: 16px;
  color: #666666;
  text-transform: capitalize;
}
.section-skills .tab-content .skill-item .progress {
  height: 20px;
  border-radius: 10px;
  position: relative;
}
.section-skills .tab-content .skill-item .progress .progress-bar {
  background-color: #666666;
  height: 6px;
  left: 7px;
  top: 7px;
  position: absolute;
  border-radius: 10px;
}
.section-skills .tab-content .skill-item .progress span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  font-weight: 500;
  color: #666666;
  margin-top: -30px;
}
.section-skills .tab-content .ico-html {
  color: #ec5b24;
}
.section-skills .tab-content .ico-css {
  color: #1572b6;
}
.section-skills .tab-content .ico-js {
  color: #f7e018;
}
.section-skills .tab-content .ico-sass {
  color: #d56ea3;
}
.section-skills .tab-content .ico-bt {
  color: #8d0bfd;
}
.section-skills .tab-content .ico-gh {
  color: #062738;
}

.service-section {
  padding: 80px 0 80px 0;
  min-height: 100vh;
}
.service-section .service-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.2s ease;
}
.service-section .service-item:hover {
  transform: scale(1.019);
}
.service-section .service-item .service-item-inner {
  padding: 50px 15px;
  border-radius: 5px;
  text-align: center;
  line-height: 2;
  width: 100%;
}
.service-section .service-item .service-item-inner:hover .ico-1 {
  color: #f48fb1;
  font-size: 30px;
}
.service-section .service-item .service-item-inner:hover .ico-2 {
  color: #90caf9;
  font-size: 30px;
}
.service-section .service-item .service-item-inner:hover .ico-3 {
  color: #80cbc4;
  font-size: 30px;
}
.service-section .service-item .service-item-inner:hover .ico-4 {
  color: #dce775;
  font-size: 30px;
}
.service-section .service-item .service-item-inner:hover .ico-5 {
  color: #ffb74d;
  font-size: 30px;
}
.service-section .service-item .service-item-inner:hover .ico-6 {
  color: #bdbdbd;
  font-size: 30px;
}
.service-section .service-item .icon {
  display: flex;
  width: 60px;
  height: 60px;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  position: relative;
}
.service-section .service-item .icon i {
  font-size: 25px;
  transition: all 0.3s ease;
}
.service-section .service-item h3 {
  margin: 15px 0 15px 0;
  font-size: 20px;
  font-weight: 600;
  color: #555555;
  text-transform: capitalize;
}
.service-section .service-item p {
  font-size: 16px;
  color: #666666;
  line-height: 26px;
}

.portfolio-section {
  padding: 80px 0 80px 0;
  min-height: 100vh;
}
.portfolio-section .section-title {
  margin-bottom: 40px;
}
.portfolio-section .portfolio-filter {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 20px;
}
.portfolio-section .portfolio-filter .filter-item {
  display: inline-block;
  margin: 0 5px 10px;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  color: #666666;
  text-transform: capitalize;
  font-size: 16px;
  transition: all 0.3s ease;
}
.portfolio-section .portfolio-filter .filter-item:hover:not(.active) {
  opacity: 0.6;
}
.portfolio-section .portfolio-filter .active {
  color: #F2A341;
}
.portfolio-section .portfolio-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-section .portfolio-item .portfolio-item-inner {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.portfolio-section .portfolio-item .portfolio-item-inner p {
  font-size: 16px;
  margin: 10px 0 0;
  color: #666666;
  text-transform: capitalize;
}
.portfolio-section .portfolio-item .portfolio-item-inner:hover .view-project {
  transform: translateY(0px);
  opacity: 1;
}
.portfolio-section .portfolio-item .portfolio-item-inner:hover img {
  transform: translateY(-25px);
}
.portfolio-section .portfolio-item .pp-portfolio-item-details {
  display: none;
}
.portfolio-section .portfolio-item img {
  border-radius: 5px;
  width: 100%;
  transition: all 0.3s ease;
}
.portfolio-section .portfolio-item .portfolio-item-img {
  position: relative;
}
.portfolio-section .portfolio-item .portfolio-item-img .view-project {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #F2A341;
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  bottom: -4px;
  transform: translateY(-5px);
  z-index: -1;
  opacity: 0;
}
.portfolio-section .hide {
  display: none;
}
.portfolio-section .show {
  display: block;
  animation: fadeInTop 0.5s ease;
}

/*PORTFOLIO POPUP*/
.portfolio-popup {
  background-color: #eff0f4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
}
.portfolio-popup .pp-details {
  max-width: 1350px;
  width: calc(85% + 30px);
  margin: auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
.portfolio-popup .pp-details-inner {
  padding: 30px 10px;
}
.portfolio-popup .separator {
  display: block;
  width: 85%;
  margin: auto;
  border: 1px solid #dddddd;
  color: #bbbbbb;
}
.portfolio-popup .pp-title {
  padding: 0 15px;
}
.portfolio-popup .pp-title h2 {
  font-size: 28px;
  color: #000000;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0 0 5px;
}
.portfolio-popup .pp-title p {
  font-size: 14px;
  font-weight: 600;
  color: #666666;
  margin: 0 0 15px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
.portfolio-popup .pp-title p span {
  font-weight: 400;
}
.portfolio-popup .description {
  flex: 0 0 65%;
  max-width: 65%;
  padding: 0 15px;
}
.portfolio-popup .info {
  flex: 0 0 35%;
  max-width: 35%;
  padding: 0 15px;
}
.portfolio-popup .pp-main {
  min-height: 100vh;
  max-width: 1350px;
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.portfolio-popup .pp-main .pp-main-inner {
  padding: 70px 0 50px;
  position: relative;
}
.portfolio-popup .pp-main .pp-img {
  max-width: 100%;
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 5px;
}
.portfolio-popup .pp-project-details-btn {
  position: absolute;
  left: 0;
  top: 15px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #F2A341;
  text-align: center;
}
.portfolio-popup .pp-project-details-btn i {
  margin-left: 4px;
}
.portfolio-popup .pp-close {
  width: 40px;
  height: 40px;
  display: block;
  font-size: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 0px;
  color: #666666;
}
.portfolio-popup .pp-counter {
  position: absolute;
  right: 0;
  height: 40px;
  line-height: 40px;
  bottom: 5px;
  font-size: 16px;
  color: #666666;
}
.portfolio-popup .pp-prev,
.portfolio-popup .pp-next {
  position: fixed;
  top: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  z-index: 2000;
  color: #000000;
  transition: all 0.3s ease;
  opacity: 0.5;
}
.portfolio-popup .pp-prev i,
.portfolio-popup .pp-next i {
  line-height: 40px;
}
.portfolio-popup .pp-prev:hover,
.portfolio-popup .pp-next:hover {
  opacity: 1;
}
.portfolio-popup .pp-next {
  right: 15px;
}
.portfolio-popup .pp-prev {
  left: 10px;
  transform: rotate(180deg);
}

.pp-proyect-details h3 {
  font-size: 20px;
  font-weight: 600;
  color: #555555;
  margin: 0 0 15px;
  text-transform: capitalize;
}
.pp-proyect-details p {
  font-size: 16px;
  color: #666666;
  line-height: 26px;
  margin: 0;
}
.pp-proyect-details li {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: #666666;
  font-size: 16px;
}
.pp-proyect-details li:last-child {
  margin-bottom: 0;
}
.pp-proyect-details li span {
  font-weight: 400;
}

/*popup whit js*/
.open {
  visibility: visible;
  opacity: 1;
}

/*end popup*/

/*# sourceMappingURL=styles.css.map */
