.bg-img {
  background-image: url(https://img.freepik.com/foto-gratis/espacio-diseno-papel-textura-fondo_53876-42312.jpg?size=626&ext=jpg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1000;
  opacity: 0.5;
}

/*Colores*/
/*Ni idea*/
/*BUTTONS*/
/*BUTTON HOME*/
.btn-1 {
  padding: 10px 25px;
  font-size: 16px;
  margin-top: 30px;
  font-weight: 500;
  color: #123036;
  background-color: transparent;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
  display: inline-block;
}

.btn-2 {
  margin-top: 10px;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  color: #123036;
  background-color: transparent;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
  display: inline-block;
}

.btn-1 {
  transition: all 0.3s ease;
}

.btn-2 {
  transition: all 0.3s ease;
}
.btn-2:hover {
  color: #F2A341;
}

/*Typographies*/
/*SHADOWS*/
/*ELEMENTS WHIT SHADOW*/
.inner-shadow {
  box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

.outer-shadow {
  box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8f8;
}

.hover-in-shadow:hover {
  box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

/*EFFECT*/
.home-section {
  position: relative;
}
.home-section .effect-wrap .effect {
  position: absolute;
  z-index: -1;
}
.home-section .effect-1 {
  width: 30px;
  height: 30px;
  border: 4px solid #8a49ff;
  right: 10%;
  bottom: 10%;
  animation: spin 10s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.home-section .effect-2 {
  left: 3%;
  bottom: 20%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: movArriba 3s ease-in-out infinite;
}
@keyframes movArriba {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}
.home-section .effect-2 .part__effect {
  height: 3px;
  width: 3px;
  background-color: #ff9c07;
  margin: 0 3px 8px;
  border-radius: 50%;
}
.home-section .effect-3 {
  height: 180px;
  width: 180px;
  border: 25px solid #ff9c07;
  border-radius: 50%;
  left: 50%;
  top: -120px;
  animation: movLateral 3s ease-in-out infinite;
}
@keyframes movLateral {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
}
.home-section .effect-4 {
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  left: 30%;
  top: 20%;
  animation: spin 15s linear infinite;
}
.home-section .effect-4::before {
  content: "";
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}
.home-section .effect-5 {
  width: 50px;
  height: 50px;
  right: 10%;
  top: 30%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
}
.home-section .effect-5 .part__effect-2 {
  width: 1px;
  background-color: #4dd0e1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-family: "Nunito", sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: #eff0f4;
}

/*BODY ELEMENTS*/
a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/*HEADER*/
.header {
  padding: 20px 15px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header .cont__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header .cont__header .cont__logo {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 2px solid #123036;
  border-radius: 50%;
}
.header .cont__header .cont__logo .cont__link {
  display: inline-block;
  line-height: 36px;
  font-size: 20px;
  color: #123036;
  font-weight: bold;
}
.header .cont__header .hamburguer__btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}
.header .cont__header .hamburguer__btn::after {
  border-radius: 50%;
}
.header .cont__header .hover-in-shadow {
  position: relative;
  z-index: 1;
}
.header .cont__header .hover-in-shadow:hover {
  box-shadow: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
}
.header .cont__header .hover-in-shadow::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.header .cont__header .hover-in-shadow:hover::after {
  box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

/*NAVIGATOR MANU*/
.container__nav {
  position: fixed;
  background-color: #eff0f4;
  padding: 0 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.container__nav .close-nav-menu {
  width: 40px;
  height: 40px;
  display: block;
  font-size: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  color: #666666;
}
.container__nav .nav-menu-inner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__nav .nav-menu-inner ul {
  padding: 15px;
}
.container__nav .nav-menu-inner ul li {
  display: block;
  margin-bottom: 20px;
}
.container__nav .nav-menu-inner ul li:last-child {
  margin-bottom: 0;
}
.container__nav .nav-menu-inner ul a {
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  color: #555555;
  padding: 3px 30px;
  text-transform: capitalize;
  border-radius: 30px;
}
.container__nav .nav-menu-inner ul .active {
  color: #F2A341;
}
.container__nav .copyright-txt {
  position: absolute;
  top: 50%;
  font-size: 14px;
  color: #666666;
  transform: translateY(-50%) rotate(-90deg);
  left: 0;
}

/*MAIN HOME*/
.align-item-center {
  align-items: center;
}

.home-section .full-screen {
  display: flex;
  padding: 50px 0;
  min-height: 100vh;
}
.home-section .full-screen .home-text,
.home-section .full-screen .home-img {
  flex: 2;
  max-width: 50%;
  padding: 0 15px;
}
.home-section .full-screen .home-text p {
  color: #555555;
  font-size: 18px;
  text-transform: capitalize;
}
.home-section .full-screen .home-text h2 {
  font-size: 55px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}
.home-section .full-screen .home-text h1 {
  font-size: 20px;
  font-weight: 500;
  color: #555555;
  margin: 0;
}
.home-section .full-screen .img-box {
  max-width: 450px;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}
.home-section .full-screen img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}

/*ABOUTME*/
.about-section {
  padding: 60px 0 80px;
  min-height: 100vh;
}
.about-section .section-title {
  padding: 0 15px;
  flex: 2;
  max-width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
.about-section .section-title h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}
.about-section .section-title h2::before {
  content: attr(data-heading);
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #F2A341;
}
.about-section .cont__about {
  display: flex;
}
.about-section .cont__about .about-img {
  flex: 0 0 40%;
  max-width: 40%;
  padding: 0 15px;
}
.about-section .cont__about .about-img .img-box {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
}
.about-section .cont__about .about-img .img-box img {
  width: 100%;
  border: 10px solid transparent;
  border-radius: 5px;
}
.about-section .cont__about .about-img .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-section .cont__about .about-img .social-links a:last-child {
  margin-left: 20px;
}
.about-section .cont__about .about-info {
  padding-left: 30px;
  flex: 0 0 60%;
  max-width: 60%;
}
.about-section .cont__about .about-info span {
  font-weight: 600;
}
.about-section .cont__about .about-info p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  color: #666666;
}
.about-section .cont__about .about-info a {
  margin-top: 30px;
}
.about-section .cont__about .about-info a:last-child {
  margin-left: 20px;
}
.about-section .about-tabs {
  padding: 60px 15px 50px;
  max-width: 100%;
  text-align: center;
}
.about-section .about-tabs h3 {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  border-bottom: 2px solid #F2A341;
}

/*SECTION SKILLS*/
.section-skills {
  padding: 60px 0 80px;
  min-height: 100vh;
}
.section-skills .about-tabs {
  padding: 0 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-skills .about-tabs h3 {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  border-bottom: 2px solid #F2A341;
  text-transform: uppercase;
}
.section-skills .about-tabs h3::before {
  content: attr(data-heading);
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #F2A341;
  text-align: center;
}
.section-skills .tab-content {
  flex: 0 0 100%;
  max-width: 100%;
  padding-top: 80px;
  /*COLORS ICONS SKILL*/
}
.section-skills .tab-content .skill-item {
  flex: 0 0 50%;
  max-width: 45%;
  padding: 30px 20px;
  margin: auto;
}
.section-skills .tab-content .skill-item .ico-logo {
  font-size: 25px;
  padding: 5px;
}
.section-skills .tab-content .skill-item p {
  padding-bottom: 10px;
  font-size: 16px;
  color: #666666;
  text-transform: capitalize;
}
.section-skills .tab-content .skill-item .progress {
  height: 20px;
  border-radius: 10px;
  position: relative;
}
.section-skills .tab-content .skill-item .progress .progress-bar {
  background-color: #666666;
  height: 6px;
  left: 7px;
  top: 7px;
  position: absolute;
  border-radius: 10px;
}
.section-skills .tab-content .skill-item .progress span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  font-weight: 500;
  color: #666666;
  margin-top: -30px;
}
.section-skills .tab-content .ico-html {
  color: #ec5b24;
}
.section-skills .tab-content .ico-css {
  color: #1572b6;
}
.section-skills .tab-content .ico-js {
  color: #f7e018;
}
.section-skills .tab-content .ico-sass {
  color: #d56ea3;
}
.section-skills .tab-content .ico-bt {
  color: #8d0bfd;
}
.section-skills .tab-content .ico-gh {
  color: #062738;
}

/*# sourceMappingURL=style.css.map */
