.portfolio-section {
    padding: 80px 0 80px 0;
    min-height: 100vh;
    .section-title {
        margin-bottom: 40px;
    }
    .portfolio-filter {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        padding: 0 15px;
        margin-bottom: 20px;
        .filter-item {
            display: inline-block;
            margin: 0 5px 10px;
            padding: 5px;
            border-radius: 30px;
            cursor: pointer;
            font-weight: 500;
            color: $text-black-600;
            text-transform: capitalize;
            font-size: 16px;
            transition: all .3s ease;
            &:hover:not(.active) {
                opacity: .6;
            }
        }
        .active {
            color: $colorCuarto;
        }
    }
    
    .portfolio-item {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        .porfolio-item-inner {
            padding: 15px;
            border-radius: 5px; 
            cursor: pointer;
            width: 100%;
            p {
                font-size: 16px;
                margin: 10px 0 0;
                color: $text-black-600;
                text-transform: capitalize;
            }
            &:hover {
                .view-project {
                    transform: translateY(0px);
                    opacity: 1;
                }
                img {
                    transform: translateY(-25px);
                }
            }
        } 
        .portfolio-item-details {
            display: none;
        }
        img {
            border-radius: 5px;
            width: 100%;
            transition: all .3s ease;
        }
        .portfolio-item-img {
            position: relative;
            .view-project {
                text-transform: capitalize;
                font-size: 16px;
                font-weight: 500;
                color: $colorCuarto;
                transition: all .3s ease;
                position: absolute;
                left: 0;
                bottom: -4px;
                transform: translateY(-5px);
                z-index: -1;
                opacity: 0;
            }
        }   
    }
}

/*PORTFOLIO POPUP*/

.portfolio-popup {
    background-color: $bg-black-50;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    .pp-details {
        max-width: 1350px;
        width: calc(85% + 30px);
        margin: auto;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        }
    .pp-details-inner {
        padding: 30px 10px;
    }
    .separator {
        display: block;
        width: 85%;
        margin: auto;
        border: 1px solid $bg-black-100;
        color: $text-black-300;
    }
    .pp-title {
        padding: 0 15px;
        h2 {
            font-size: 28px;
            color: $text-black-900;
            text-transform: capitalize;
            font-weight: 600;
            margin: 0 0 5px;
        }
        p {
            font-size: 14px;
            font-weight: 600;
            color: $text-black-600;
            margin: 0 0 15px;
            border-bottom: 1px solid $bg-black-100;
            padding-bottom: 10px;
            span {
                font-weight: 400;
            }
        }
    }
    .description {
        flex: 0 0 65%;
        max-width: 65%;
        padding: 0 15px;
    }
    .info {
        flex: 0 0 35%;
        max-width: 35%;
        padding: 0 15px;
    }
    .pp-main { 
        min-height: 100vh;
        max-width: 1350px;
        width: 85%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .pp-main-inner {
            padding: 70px 0  50px;
            position: relative;
        }
        .pp-img {
            max-width: 100%;
            width: auto;
            height: auto;
            padding: 10px;
            border-radius: 5px;
        }
    }  
    .pp-project-details-btn {
        position: absolute;
        left: 0;
        top: 15px;
        height: 40px;
        line-height: 40px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 500;
        color: $colorCuarto;
        transition: all .3s ease;
        i {
            margin-left: 4px;
        }
    }
    .pp-close {
        width: 40px;
        height: 40px;
        display: block;
        font-size: 35px;
        line-height: 35px;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 0px;
        color: $text-black-600;
    }
    .pp-counter {
        position: absolute;
        right: 0;
        height: 40px;
        line-height: 40px;
        bottom: 5px;
        font-size: 16px;
        color: $text-black-600;
    }
    .pp-prev,
    .pp-next {
        position: fixed;
        top: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        z-index: 2000;
        color: $text-black-900;
        transition: all .3s ease;
        opacity: .5;
        i {
            line-height: 40px;
        }
        &:hover {
            opacity: 1;
        }
    }

    .pp-next {
        right: 15px;
    }

    .pp-prev {
        left: 10px;
        transform: rotate(180deg); 
    }
}
.pp-proyect-details {
    h3 {
        font-size: 20px;
        font-weight: 600;
        color: $text-black-700;
        margin: 0 0 15px;
        text-transform: capitalize;
    }
    p {
            font-size: 16px;
            color: $text-black-600;
            line-height: 26px;
            margin: 0;
    }
    li {
        display: block;
        margin-bottom: 10px;
        font-weight: 600;
        color: $text-black-600;
        font-size: 16px;
        &:last-child {
            margin-bottom: 0;
        }
        span {
            font-weight: 400;
        }
    }
}

